<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prayer Times</title>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
</head>

<body>
    <div id="app">
        <div class="menu-wrap">
            <h1>Prayer Times</h1>
            <i id="checkBtn" class="fas fa-cog" @click="showModal(true)"></i>
        </div>
        <header class="showcase">
            <div class="container showcase-inner">
                <table>
                    <tr>
                        <td class="table-header city" colspan="2">{{ city }}</td>
                    </tr>
                    <tr>
                        <td class="table-header" colspan="2">{{ date }}</td>
                    </tr>
                    <tr v-for="(time, key) in times" :key="key">
                        <td>{{key}}</td>
                        <td>{{time}}</td>
                    </tr>
                </table>
            </div>
        </header>
        <div class="modal" v-if="showChangeCityModal">
            <div id="changecityModal">
                <h1>Settings</h1>
                <label for="city">City:</label><br>
                <input type="text" name="city" v-model="city" placeholder="City Name"><br>
                <label for="country">Country:</label><br>
                <input type="text" name="country" v-model="country" placeholder="Country"><br>
                <label for="method">Method:</label><br>
                <select name="method" v-model="method">
                    <option v-for="(name, key) in methodList" :key="key" :value="key">{{name}}</option>
                </select><br>
                <label for="school">School:</label><br>
                <select name="school" v-model="school">
                    <option v-for="(name, key) in schoolList" :key="key" :value="key">{{name}}</option>
                </select><br>
                <button @click="refreshData()">Change</button>
                <button @click="showModal(false)">Close</button>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/script.js"></script>
</body>

</html>
